/*INICIO FONTES PADRÃO*/
@font-face {
  font-family: Poppins-Light;
  src: url("../fontes/Poppins-Light.woff");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fontes/Poppins-Medium.woff");
}

.Poppins-Light {
  font-family: Poppins-Light;
}

.Poppins-Medium {
  font-family: Poppins-Medium;
}
/*FIM FONTES PADRÃO*/

/*INICIO ESTILOS ID'S*/
#body-index {
  background: #C8C2FF;
}

#header-main {
  margin: 0px;
  padding: 0px;
}
/*FIM ESTILOS ID'S*/

/*INICIO ESTILOS HEADER MAIN*/
.nav-ul-main {
  list-style: none;
  margin: 100px 0px 50px 0px;
  padding: 0px;  
}

.nav-a-main {
  text-decoration: none;
  color: #C8C2FF;
  margin-left: 20px;
  font-size: 1em;
}

.nav-a-main:hover {
  text-decoration: none;
  color: #C8C2FF;
  margin-left: 20px;
}

.nav-a-icon-main {
  text-decoration: none;
  color: #C8C2FF;
}

.nav-a-icon-main:hover {
  text-decoration: none;
  color: #C8C2FF;
  background: #210070;
  border-radius: 5px;
  padding: 15px;
}

.nav-li-icon-main {
  text-align: center;
  margin: 50px 0px 71px 0px;
  padding: 15px 0px 15px 0px;
}

.nav-li-main {
  color: #C8C2FF;
  margin: 20px 0px 20px 0px;
  padding: 15px 0px 15px 0px;
}

.nav-li-main:hover {
  color: #C8C2FF;
  background: #210070;
  margin: 20px 0px 20px 0px;
  padding: 15px 0px 15px 0px;
}

.bg-header-main {
  background: #8561FF;
}
/*FIM ESTILOS HEADER MAIN*/

/*INICIO ESTILOS CONTEUDO MAIN*/
.img-logo-main {
  height: 160px;
  width: 315px;
}

.paraf-cont-main {
  padding-top: 20px;
  color: #30009f;
  font-size: 3em;
}

.icon-hw-main {
  height: 41px;
  width: 41px;
  fill: #5C00FF;
}

.txt-icons-main {
  color: #30009f;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.sub-txt-icons-main {
  color: #30009f;
  font-size: .8em;
  margin: 0px;
  padding: 0px;
}

.mt-cont-main {
  margin-top: 100px;
}
/*FIM ESTILOS CONTEUDO MAIN*/  

/*INICIO MEDIA QUERIES*/
/*Telas menores que sm*/
@media (max-width: 575.98px) {}

/*Telas tamanho sm*/
@media (min-width: 576px) and (max-width: 767.98px) {} 

/*Telas tamanho md*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Telas tamanho lg*/
@media (min-width:  992px) and (max-width: 1199.98px) {}

/*Telas tamanho xl*/
@media (min-width:  1200px) and (max-width: 1399.98px) {}

/*Telas tamanho maiores que xl*/
@media (min-width:  1400px) {}
/*FIM MEDIA QUERIES*/

/*INICIO ESTILOS MONITOR*/

.container--monitor{
  display: flex;
  flex-direction: column;
}

.box--container--monitor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.nav--pesquisa form {
  display: flex;
}

.bottons--monitor{
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.button--pesquisar{
  width: 40%;
  height: 40px;
  color: #fff;
  background-color: #5C00FF;
  border-radius: 5px;
  font-family: "Poppins-Light", sans-serif;
}

.logo--monitor img {
  height: 100px;
  width: 170px;
}

form label , #protocolo, #protocoloTipo, #status--monitor, #online--monitor{
  font-family: "Poppins-Light", sans-serif;
  color: #5C00FF;
  border-color: #8561FF;
  border-radius: 8px;
}

table.table {
  color: #5C00FF;
  width: 85%;
  margin-top: 5%;
  align-self: center;
  font-family: "Poppins-Light", sans-serif;
}

.pagination {
  margin-top: 1%;
  margin-left: 7.5%;
}

.pagination, .page-item, .page-link {
  color: #5C00FF;
}

/*FIM ESTILOS MONITOR*/
