/*INICIO FONTES PADRÃO*/
@font-face {
  font-family: Poppins-Light;
  src: url("../fontes/Poppins-Light.woff");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fontes/Poppins-Medium.woff");
}

.Poppins-Light {
  font-family: Poppins-Light;
}

.Poppins-Medium {
  font-family: Poppins-Medium;
}
/*FIM FONTES PADRÃO*/

/*INICIO CORES PADRÃO*/
.cor-padrao1 {
  color: #30009F;
}

.cor-padrao2 {
  color: #210070;
}

.cor-padrao3 {
  color: #30009F;
}

.cor-padrao4 {
  color: #C8C2FF;
}

.bg-menu-white {
  background: white;
}
/*FIM CORES PADRÃO*/

/*INICIO ESTILOS ID'S*/
#body-index {
  background: #C8C2FF;
}

#header-main {
  margin: 0px;
  padding: 0px;
}
/*FIM ESTILOS ID'S*/

/*INICIO ESTILOS HEADER MAIN*/
.link-voltar-offcanvas {
  text-decoration: none;
  list-style: none;
}

.link-voltar-offcanvas:hover {
  text-decoration: none;
  list-style: none;
  border-bottom:2px solid #C8C2FF;
}

.nav-ul-main {
  list-style: none;
  margin: 50px 0px 50px 0px;
  padding: 0px;  
}

.nav-a-main {
  text-decoration: none;
  color: #C8C2FF;
  margin-left: 20px;
  font-size: 1em;
}

.nav-a-main:hover {
  text-decoration: none;
  color: #C8C2FF;
  margin-left: 20px;
}

.nav-a-icon-main {
  text-decoration: none;
  color: #C8C2FF;
}

.nav-a-icon-main:hover {
  text-decoration: none;
  color: #C8C2FF;
  background: #210070;
  border-radius: 5px;
  padding: 15px;
}

.nav-li-icon-main {
  text-align: center;
  margin: 30px 0px 0px 0px;
  padding: 15px 0px 15px 0px;
}

.nav-li-main {
  color: #C8C2FF;
  margin: 20px 0px 20px 0px;
  padding: 15px 0px 15px 0px;
}

.nav-li-main:hover {
  color: #C8C2FF;
  background: #210070;
  margin: 20px 0px 20px 0px;
  padding: 15px 0px 15px 0px;
}

.bg-header-main {
  background: #8561FF;
}

.bg-div-header-index {
  background: #C8C2FF;
}
/*FIM ESTILOS HEADER MAIN*/

/*INICIO ESTILOS CONTEUDO MAIN*/
.img-logo-main {
  height: 160px;
  width: 315px;
}

.paraf-cont-main {
  padding-top: 20px;
  color: #30009f;
  font-size: 3em;
}

.icon-hw-main {
  height: 41px;
  width: 41px;
  fill: #210070;
}

.txt-icons-main {
  color: #30009f;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}

.sub-txt-icons-main {
  color: #30009f;
  font-size: .8em;
  margin: 0px;
  padding: 0px;
}

.mt-cont-main {
  margin-top: 100px;
}
/*FIM ESTILOS CONTEUDO MAIN*/  

/*INICIO ESTILOS MONITOR*/
.container--monitor{
  display: flex;
  flex-direction: column;
}

.box--container--monitor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5% -7%;
}

.nav--pesquisa form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottons--monitor{
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.button-acess {
  background: #C8C2FF;
  color: #210070;
  border-color: #C8C2FF;
  border-radius: 3px;
}

.button--pesquisar{
  width: 40%;
  height: 40px;
  color: #fff;
  background-color: #5C00FF;
  border-radius: 5px;
  font-family: "Poppins-Light", sans-serif;
}

.form-control , .form-select {
  border-color: #8561FF!important;
  font-family: "Poppins-Light", sans-serif;
  color: #5C00FF;
}

.logo--monitor img {
  height: 120px;
  width: 230px;
}

form label , #protocolo, #protocoloTipo, #status--monitor, #online--monitor{
  font-family: "Poppins-Light", sans-serif;
  color: #5C00FF;
  border-color: #8561FF;
  border-radius: 8px;
}

table.table {
  /* color: #5C00FF; */
  width: 85%;
  margin-top: 2%;
  text-align: center;
  align-self: center;
  /* font-family: "Poppins-Light", sans-serif; */
}

.pagination {
  margin-top: 1%;
  margin-left: 7.5%;
}

.pagination, .page-item, .page-link {
  color: #5C00FF;
}

/*FIM ESTILOS MONITOR*/

/*INICIO ESTILOS SEARCH CLIENTS*/
.bg-div-header-search-client {
  background: #8561FF;
}

.title-size-sc {
  font-size: 4em;
}

.subtitle-size-sc {
  font-size: 1.9em;
}

.bg-sec-sc {
  background: #8561FF;
}

.label-search-client {
  border: 2px solid #8561FF;
  height: 60px;
  width: 100%;
  border-radius: 5px;
}

form ::placeholder {
  color: #8561FF;
  opacity: 70%;
  font-size: 1.2em;
  font-family: Poppins-Light;
}

.nome-label-sc {
  font-size: 1.3em;
}

.btn-sc {
  height: 40px;
  width: 60%;
  border: #8561FF;
  border-radius: 5px;
  background: #8561FF;
  color: #C8C2FF;
  font-size: 1.2em;
}

.btn-sc:hover {
  height: 40px;
  border: #5C00FF;
  border-radius: 5px;
  background: #5C00FF;
  color: #C8C2FF;
  font-size: 1.2em;
}

.full-list-sc-a {
  text-decoration: none;
  font-size: 1.2em;
  color: #210070;
}

.full-list-sc-a:hover {
  text-decoration: none;
  font-size: 1.2em;
  color: #210070;
  border-bottom: 2px solid #210070;
}

.logo-sc {
  width: 230px;
  height: 120px;
}
/*FIM ESTILOS SEARCH CLIENTS*/

/*INICIO ESTILOS SPECIFIC CLIENT*/
.bg-div-header-especif-client {
  background: white;
}

.mt-ajuste {
  margin-top: 80px;
}

.title-size {
  font-size: 3em;
}

.subtitle-size {
  font-size: 1.3em;
}

.div-especify-client {
  font-size: 2.5em;
  border: 2px solid #210070;
  border-radius: 10px;
  margin-top: 50px;
}

.div-especify-client:hover {
  font-size: 2.5em;
  border: 2px solid #210070;
  border-radius: 10px;
  margin-top: 50px;
  background: #D8D5F8;
}

.logo-specify-client {
  height: 160px;
  width: 160px;
  margin-bottom: 200px;
  margin-top: 200px;
}
/*FIM ESTILOS SPECIFIC CLIENT*/

/*INICIO ESTILOS TELA DASH CLINTE*/
.navbar-light .navbar-nav .nav-link {
  color: #210070;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #C8C2FF;
}

.img-hw-dash-cliente {
  height: 70px;
  width: 90px;
}

.name-fsize-dash-cliente {
  font-size: 1.5em;
}

.icon-dash-client {
  height: 40px;
  width: 40px;
  fill: #30009F;
}

.box-content-dash {
  background: #C8C2FF;
  border-radius: 10px;
}

.box-content1-dash {
  background: #C8C2FF;
  border-radius: 10px;
}

.link-content-graf-dash {
  text-decoration: none;
  list-style: none;
}

.link-content-dash {
  text-decoration: none;
  list-style: none;
}

.link-content-dash:hover {
  text-decoration: none;
  list-style: none;
  color: #30009f;
  border-bottom:2px solid #30009f;
}

.box-content-dash:hover {
  text-decoration: none;
  list-style: none;
  background: #8561FF;
}
/*FIM ESTILOS TELA DASH CLINTE*/

/*INICIO ESTILOS SEARCH ALL-CLIENTS*/
.logo--all-clients--client{
  width: 25px;
  height: 25px;
}

.status--active {
  color: green;
}

.status--inactive {
  color: red;
}

.style--some--clients {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 85%;
}

body.container--some--clients{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.some--clients--style {
 margin-top: 3%!important;
}

.pagination--container--some-clients {
  display: flex;
    width: 100%;
}

.mobile-font{
  font-size: 3.5em!important;
}

.mobile-subfont {
  font-size: 1.7em!important;
}
/*FIM ESTILOS SEARCH ALL-CLIENTS*/ 

/*INICIO MEDIA QUERIES*/
/*Telas menores que sm*/
@media only screen and (max-width: 600px) {
  .img-logo-main {
    height: 70px;
    width: 150px;
  }

  .paraf-cont-main {
    padding-top: 20px;
    color: #30009f;
    font-size: 1.5em;
  }

  .nav-ul-main {
    list-style: none;
    margin: 30px 0px 30px 0px;
    padding: 0px;  
  }
  
  .nav-a-main {
    text-decoration: none;
    color: #C8C2FF;
    margin-left: 20px;
    font-size: 1em;
  }
  
  .nav-a-main:hover {
    text-decoration: none;
    color: #C8C2FF;
    margin-left: 20px;
  }
  
  .nav-a-icon-main {
    text-decoration: none;
    color: #C8C2FF;
  }
  
  .nav-a-icon-main:hover {
    text-decoration: none;
    color: #C8C2FF;
    background: #210070;
    border-radius: 5px;
    padding: 15px;
  }
  
  .nav-li-icon-main {
    text-align: start;
    margin: 20px 0px 0px 20px;
    padding: 15px 0px 15px 0px;
  }
  
  .nav-li-main {
    color: #C8C2FF;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
  }
  
  .nav-li-main:hover {
    color: #C8C2FF;
    background: #210070;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
  }

  .title-size {
    font-size: 2.3em;
  }
  
  .subtitle-size {
    font-size: 0.8em;
  }

  .div-especify-client {
    font-size: 1.5em;
    border: 2px solid #210070;
    border-radius: 10px;
    margin-top: 25px;
  }
  
  .div-especify-client:hover {
    font-size: 1.5em;
    border: 2px solid #210070;
    border-radius: 10px;
    margin-top: 25px;
    background: #f3f2ff;
  }
  
  .logo-specify-client {
    height: 80px;
    width: 80px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .bg-div-header-search-client {
    background: white;
  }

  .title-size-sc {
    font-size: 1.8em;
  }
  
  .subtitle-size-sc {
    font-size: .9em;
  }

  .label-search-client {
    border: 2px solid #8561FF;
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
  
  form ::placeholder {
    color: #8561FF;
    opacity: 70%;
    font-size: 1em;
    font-family: Poppins-Light;
  }
  
  .nome-label-sc {
    font-size: 1.1em;
  }

  .btn-sc {
    height: 40px;
    width: 100%;
    border: #8561FF;
    border-radius: 5px;
    background: #8561FF;
    color: #C8C2FF;
    font-size: 1.2em;
  }

  .logo--monitor img {
    height: 60px;
    width: 115px;
    margin-top: 15%;
  }
  
  .logo--monitor {
      display: flex;
      flex-direction: row-reverse;
  }

  .box--container--monitor {
      display: block;
      margin: 0;
  }

  .pagination--container--monitor{
    display: flex;
    justify-content: flex-start;
  }

  .pagination{
    margin: 0;
  }

  .mobile--monitor{
    display: none;
  }

  table.table {
    width: 95%;
  }

  .style--some--clients {
    display: block;
  }

  .mobile-font{
    font-size: 1.7em!important;
  }

  .mobile-subfont {
    font-size: 1em!important;
  }

  .mobile--logo-style{
    margin: 0!important;
  }
  .estilo--logo--some-clients{
    height: 60px!important;
    width: 115px!important;
    margin-top: 5%;
    margin-left: 70%;
  }
}

/*Telas tamanho sm*/
@media (min-width: 601px) and (max-width: 767.98px) {
  .bg-div-header-search-client {
    background: white;
  }

  .style--some--clients {
    display: block;
  }

  .mobile-font{
    font-size: 2.5em!important;
  }

  .mobile--logo-style{
    margin: 0!important;
  }
  .estilo--logo--some-clients{
    height: 60px!important;
    width: 115px!important;
    margin-top: 5%;
    margin-left: 70%;
  }
} 

/*Telas tamanho md*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-div-header-search-client {
    background: white;
  }

  .mb-dash-md {
    margin-bottom: 50px;
  }

}

/*Telas tamanho lg*/
@media (min-width:  992px) and (max-width: 1199.98px) {

  .logo-sc {
    width: 180px;
    height: 80px;
  }

  .mt-5 {
    margin-top: 0.2rem !important;
  }
  
  .title-size-sc {
    font-size: 2.5em;
  }
  
  .subtitle-size-sc {
    font-size: 1.2em;
  }
  
  .label-search-client {
    border: 2px solid #8561FF;
    height: 50px;
    width: 100%;
    border-radius: 5px;
  }
  
  form ::placeholder {
    color: #8561FF;
    opacity: 70%;
    font-size: 1.0em;
    font-family: Poppins-Light;
  }
  
  .nome-label-sc {
    font-size: 1.1em;
  }
  
  .btn-sc {
    height: 40px;
    width: 100%;
    border: #8561FF;
    border-radius: 5px;
    background: #8561FF;
    color: #C8C2FF;
    font-size: 1em;
  }
  
  .btn-sc:hover {
    height: 40px;
    border: #5C00FF;
    border-radius: 5px;
    background: #5C00FF;
    color: #C8C2FF;
    font-size: 1em;
  }

  .mb-dash-md {
    margin-bottom: 50px;
  }

  .mt-dash-md {
    margin-top: 30px;
  }

  .fontsz-dash-seg-colum {
    font-size: 1.4em;
  }

  .link-content-dash {
    text-decoration: none;
    list-style: none;
    font-size: .8em;
  }
  
}

/*Telas tamanho xl*/
@media (min-width:  1200px) and (max-width: 1399.98px) {

  .logo-sc {
    width: 180px;
    height: 80px;
  }

  .mt-5 {
    margin-top: 0.2rem !important;
  }
  
  .title-size-sc {
    font-size: 2.5em;
  }
  
  .subtitle-size-sc {
    font-size: 1.2em;
  }
  
  .label-search-client {
    border: 2px solid #8561FF;
    height: 50px;
    width: 100%;
    border-radius: 5px;
  }
  
  form ::placeholder {
    color: #8561FF;
    opacity: 70%;
    font-size: 1.0em;
    font-family: Poppins-Light;
  }
  
  .nome-label-sc {
    font-size: 1.1em;
  }
  
  .btn-sc {
    height: 40px;
    width: 100%;
    border: #8561FF;
    border-radius: 5px;
    background: #8561FF;
    color: #C8C2FF;
    font-size: 1em;
  }
  
  .btn-sc:hover {
    height: 40px;
    border: #5C00FF;
    border-radius: 5px;
    background: #5C00FF;
    color: #C8C2FF;
    font-size: 1em;
  }

  .mt-dash-md {
    margin-top: 30px;
  }

  .fontsz-dash-seg-colum {
    font-size: 1.4em;
  }

  .link-content-dash {
    text-decoration: none;
    list-style: none;
    font-size: .8em;
  }
}

/*Telas tamanho maiores que xl*/
@media (min-width:  1400px) {}
/*FIM MEDIA QUERIES*/